/*-------------------------Fonts--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700;800&display=swap');

/* Import Global Classes */

@import url(global.css);
@import url(responsive.css);

/* Start Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 :root {
    --main-color: #992635;
    --main-color-alt: #27253b;
    --section-background: #F0F3FA;
    --section-padding: 3rem 0 4rem;
    --main-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Assistant', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/*-------------------Start Styling NavBar----------------*/

.nav {
    width: 100%;
    z-index: 22;
    transition: all 0.7s cubic-bezier(0.23, 1, 0.320, 1);
    padding: 1rem;
    background-color: #fff;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*----------------------Animation-----------*/

.nav-active {
    background: rgb(255, 255, 255);
    position: fixed;
    box-shadow: var( --main-box-shadow);
    transition: all 0.5s linear;
    animation: navActive 0.7s linear;
    padding: .85rem;
    box-shadow: var(--main-box-shadow);
}

@keyframes navActive {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*Styling logo*/

.logo {
    margin: 0;
    padding: 10px 0;
}

.img-logo img {
    width: 8rem;
}


/*Styling Links*/

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 13px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.5s linear;
    display: block;
    font-family: 'Gugi', cursive;
    font-size: 13.5px;
}

.nav-links li a:hover {
    color: var(--main-color);
    transform: scale(.95);
}

.nav-links li {
    position: relative;
}

.btn_login {
    display: inline-block;
    color: var(--main-color);
    text-decoration: none;
    border: 2px solid var(--main-color);
    position: relative;
    overflow: hidden;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}

.btn_login::before {
    position: absolute;
    content: "";
    background: var(--main-color);
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .5s ease-in-out;
}

.btn_login:hover::before {
    left: 0%;
}

.btn_login:hover {
    border-color: var(--main-color);
    border: none;
    color: #fff;
}


/*Styling Hamburger Icon*/

.hamburger div {
    width: 30px;
    height: 3px;
    background: var(--main-color);
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}


/*Styling for small screens*/

@media screen and (max-width: 870px) {
    .nav {
        position: fixed;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        position: fixed;
        transition: all 0.5s linear;
        animation: navActive 0.7s linear;
    }
    .nav .container {
        padding: 0;
        align-items: baseline;
    }
    .logo {
        margin-left: 20px;
        z-index: 2222;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links {
        position: fixed;
        background: #0d0e12;
        height: 100%;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 95% 34);
        -webkit-clip-path: circle(1000px at 95% 34%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }
    li.fade {
        opacity: 1;
    }
    .nav-links li a {
        color: #ffffff;
        line-height: 6;
    }
}


/*Animating Hamburger Icon on Click*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/*----------------Slider------------*/

.slider {
    padding: 2rem;
}

.slider img {
    width: 100%;
    border-radius: 20px;
}

.description {
    padding: 57px 36px 0;
}

.description h1 {
    font-size: 41px;
    font-weight: 800;
    color: var(--main-color-alt);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.description p {
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 36px;
    line-height: 2;
    color: #606162;
}

.description form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type="text"] {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--main-color);
    width: 100%;
    transition: all .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    box-shadow: var( --main-box-shadow);
    padding: 17px 13px;
    border-radius: 5px;
}

input[type="text"]:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.03);
}

form .btn_login {
    padding: 8px;
    margin-left: 0;
    margin-top: 20px;
}


/*-------------------------------------------------Start Services------------------------*/

.service {
    padding: var(--section-padding) 0;
}

.service .col-4 {
    padding: 10px 5px;
}

.service .service-description {
    display: flex;
    flex-direction: column;
    padding: 5px 19px;
    margin-bottom: 15px;
    transition: all 0.3s ease-out;
    box-shadow: var( --main-box-shadow);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
}

.service-description::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    width: 0%;
    content: "";
    background-color: var(--main-color);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.service-description:hover::before {
    width: 100%;
}

.service .service-description .text {
    margin-top: 25px;
}

.text h5 {
    font-size: 50px;
    display: block;
    margin-bottom: 7px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--main-color);
    font-weight: 800;
    transition: all 0.3s ease-out;
}

.service .service-description:hover .text h5 {
    -webkit-text-stroke-color: transparent;
    -webkit-text-fill-color: var(--main-color);
}

.text h4 {
    color: var(--main-color-alt);
    font-size: 24px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.service .text p {
    font-size: 16.5px;
    font-weight: 600;
    color: #3a3939;
    line-height: 28px;
    margin-top: 15px;
}

.text .btn {
    margin-top: 30px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    position: relative;
    margin-right: 7px;
    margin-bottom: 15px;
    overflow: hidden;
}

.service .service-description:hover .text .btn {
    background-color: var(--main-color-alt);
}

@media (max-width: 1190px) {
    .service .service-description {
        padding: 30px 20px;
    }
}

@media (max-width: 550px) {
    .service .course .text h1 {
        font-size: 22px;
    }
}

@media (max-width: 506px) {
    .service .course {
        width: 100%;
        margin-left: 0;
        padding: 15px 14px;
    }
    .service .course .text h1 {
        line-height: 0.5;
    }
}


/*--------------------------Start About-------------------*/

.about {
    padding: var(--section-padding) 0;
    background: var(--section-background);
    z-index: 2;
    position: relative;
}

.about .section-title {
    margin-bottom: 65px;
}

.img {
    max-width: 100%;
    position: relative;
    margin-left: 15px;
}

.img img {
    max-width: 100%;
    vertical-align: middle;
}

.img2 {
    position: absolute;
    background: var(--main-color);
    border-radius: 10px;
    height: 96.8%;
    width: 82%;
    bottom: 0;
    left: 0px;
    z-index: -1;
}

.about-description {
    padding: 0 60px 0 30px;
}

.head {
    margin-bottom: 30px;
}

.head h1 {
    font-size: 50px;
    font-weight: 900;
    color: var(--main-color-alt);
    margin-bottom: 20px;
    letter-spacing: .7px;
}

.head p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 36px;
    line-height: 1.6;
    color: #323232;
    letter-spacing: .7px;
}

.single-list {
    display: flex;
    align-items: center;
    position: relative;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-left: 5px solid transparent;
}

.single-list:hover {
    border-left: 5px solid var(--main-color);
    box-shadow: var( --main-box-shadow);
}

.lni {
    height: 50px;
    width: 50px;
    color: var(--main-color);
    background-color: var(--section-background);
    border-radius: 50%;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
}

.single-list-desc {
    margin-left: 20px;
}

.single-list-desc h4 {
    font-size: 23px;
    font-weight: 800;
    display: block;
    margin-bottom: 15px;
    color: var(--main-color-alt);
}

.single-list-desc p {
    line-height: 1.5;
    color: #545454;
    font-size: 16px;
}


/*--------------------------Start Last Work-------------------*/

.last_case {
    padding: var(--section-padding) 0;
}

#buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.button-value {
    border: 2px solid var(--main-color);
    padding: 1em 2.2em;
    border-radius: 8px;
    background-color: transparent;
    color: var(--main-color-alt);
    cursor: pointer;
    margin-left: 15px;
    transition: all .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    margin-top: 15px;
}

.button-value:hover {
    background-color: var(--main-color);
    color: #F0F3FA;
}

.active {
    background-color: var(--main-color);
    color: #ffffff;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border: 1.5px solid rgb(224, 223, 223);
    border-radius: 50px 10px;
    margin-left: 5px;
    position: relative;
    transition: all .3s linear;
    overflow: hidden;
    transform: scale(.96);
}

.card:hover {
    box-shadow: var(--main-box-shadow);
}

.card .img_card {
    overflow: hidden;
}

.card img {
    width: 100%;
    transition: all .4s cubic-bezier(0.47, 0, 0.745, 0.715);
    object-fit: cover;
    vertical-align: middle;
}

.card:hover img {
    transform: scale(1.1);
}

.card .card_footer {
    padding: 30px;
}

.card_footer p {
    font-size: 16.5px;
    color: #64646b;
    font-weight: 600;
    margin-bottom: 10px;
}

.card_footer h5 {
    margin-top: 5px;
    color: var(--main-color-alt);
    font-size: 21.5px;
    font-weight: 700;
}

.card:hover h5 {
    color: var(--main-color);
}

.all_work {
    text-align: center;
}

.all_work_link {
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 30px 5px 30px 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 15px;
}


/*------------------------Pricing----------------*/

.price {
    background-color: var(--section-background);
    padding: var(--section-padding) 0;
}

.price .section-title {
    margin-bottom: 60px;
}

.price_detail {
    border: 1px solid #eee;
    border-radius: 50px 10px;
    background-color: #fff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 40px;
    margin-left: 12px;
    margin-bottom: 22px;
}

.price_detail:hover {
    box-shadow: var(--main-box-shadow);
    transform: translateY(-7px);
}

.head_price {
    margin-bottom: 35px;
    position: relative;
}

.head_price h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--main-color-alt);
}

.head_price p {
    margin-bottom: 20px;
    color: #515152;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
}

.head_price h5 {
    font-size: 45px;
    font-weight: 800;
    display: inline-block;
    color: var(--main-color-alt);
}

.head_price h5 span {
    display: inline-block;
    font-size: 16px;
    color: #888;
    font-weight: 500;
    margin-left: 3px;
}

.table-list .lni {
    height: 25px;
    width: 25px;
    color: var(--main-color);
    background-color: var(--section-background);
    border-radius: 50%;
    font-size: 19px;
    text-align: center;
    line-height: 25px;
    margin-right: 7px;
}

.table-list li {
    line-height: 3;
    display: flex;
    align-items: center;
    color: #565151;
}

.btn_price {
    margin-top: 27px;
    width: 100%;
}

.btn_price a {
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 30px 5px 30px 5px;
    width: 100%;
    text-align: center;
}

.btn_price a:hover {
    background-color: var(--main-color-alt);
}


/*----------------------------Team-------------------*/

.team {
    padding: var(--section-padding) 0;
}

.team .card {
    transform: scale(.85);
    text-align: center;
    position: relative;
}

.card_footer h5 {
    margin-bottom: 7px;
    font-size: 23px;
}

.card_footer p {
    margin-bottom: 0;
}

.img_card {
    position: relative;
    overflow: hidden;
}

.img_card::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: #ee163b;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.team .card:hover .img_card::before {
    opacity: .5;
    visibility: visible;
    height: 100%;
}

.social {
    display: flex;
    position: absolute;
    bottom: 0;
    left: -100%;
    transform: translateX(-50%);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.team .card:hover .social {
    opacity: 1;
    visibility: visible;
    left: 50%;
}

.social li {
    list-style: none;
    margin: 7px;
    margin-bottom: 12px;
}

.social li .lni {
    height: 40px;
    width: 40px;
    font-size: 21px;
    line-height: 40px;
}


/*------------------------Start Blogs-----------*/

.blog {
    padding: var(--section-padding) 0;
}

.blog .section-title {
    margin-bottom: 50px;
}

.blog .card {
    transform: scale(.95);
}

.content_blog {
    padding: 30px;
}

.head_card {
    margin-bottom: 28px;
}

.content_blog .date {
    color: #777;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
}

.head_card h1 {
    font-size: 22.5px;
    color: var(--main-color-alt);
    display: inline-block;
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 1.5;
    transition: all .3s linear;
}

.blog .card:hover h1 {
    color: var(--main-color);
}

.head_card p {
    line-height: 1.5;
    color: #646464;
    font-weight: 600;
    letter-spacing: .3px;
}

.content_blog .card_footer {
    padding: 0;
}

.blog .card_footer {
    display: flex;
    align-items: center;
}

.blog .card_footer .img_blog {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.blog .card_footer span {
    color: var(--main-color-alt);
    font-weight: 700;
}


/*-----------testimonials--------*/

.testimonials {
    padding: var(--section-padding) 0;
    background: var(--section-background);
}

.testimonials .section-title {
    margin-bottom: 50px;
}


/* End Footer */

div#buttons\ {
    text-align: center;
    margin-bottom: 15px;
}